<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>post register page</h1>
    <script>
        var xhr = new XMLHttpRequest()
        xhr.open('POST','/register', true)
        xhr.onload = function(){
            if (xhr.status >= 200 && xhr.status <= 300 || xhr.status === 304 ){
                console.log(xhr.responseText)
            } else {
                console.log('数据获取异常')
            }
        }
        xhr.send("name=vv&hobby=painting")
    </script>
</body>
</html>

